<%- include('partials/header') %>
	<div class="ui text container">
		<form class="ui form">
		  <div class="field">
		    <label>username</label>
		    <input type="text" placeholder="username" value="<%= user.username %>">
		  </div>
		  <div class="field">
		    <label>password</label>
		    <input type="text" placeholder="password" value="<%= user.password %>">
		  </div>
		</form>
	</div>
<%- include('partials/footer') %>